.cal-border{
    border: 2px solid violet;
    margin-left: 40%;
    margin-right: 40%;
    background: lavender;
}

.padding6{
    padding: 6% 6% 6% 6%;
}

.btn-style{
    background: white;
    border: 2px solid darkviolet;
    border-radius: 20%;
    margin: 1% 1% 1% 1%;
    width: 12%;
}

.margin-top{
    border-top: 0 !important;
    padding-top: 3px;
    border: 2px solid darkviolet;
    width: 100%;
}

.margin-btm{
    border-bottom: 0 !important;
    border: 2px solid darkviolet;
    width: 100%;
}